# Configuration EAS Build
EXPO_PROJECT_ID=nzebi-dictionary-mobile-2024

# Configuration Apple (iOS)
APPLE_ID=your-apple-id@example.com
APPLE_TEAM_ID=ABCDEFGHIJ
ASC_APP_ID=1234567890

# Configuration Google Play (Android)
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=../path/to/api-key.json

# Configuration de développement
NODE_ENV=development